.mathematics{
    
        padding: 30px;
        text-align: center;
        background: white;
        color: black;
        font-size: 30px;
        margin-top: 1em;
      
}

.mathematicsParagraph{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10rem;
    margin-right: 10em;
  }

  .flexContainer{
    display: flex;
    margin-bottom: 5em;
    margin-left: 25em;
    margin-right: 5em;
  }
  
  .bulletHeading{
    padding: 30px;
    text-align: left;
    background: red;
    color: black;
    font-size: 30px;
    margin-top: 1em;
  }
  